---
layout: front
permalink: /index.html
---
      <div class="row">
        <div class="span4">
          {% include front_welcome.html %}
        </div>
        <div class="span4">
          {% include front_challenge.html %}
        </div>
        <div class="span4">
          {% include front_getting_there.html %}
        </div>
      </div>
      <!-- <div class="row">
        <div class="span4">
          {% include front_fll_schedule.html %}
        </div>
        <div class="span4">
          {% include front_jrfll_schedule.html %}
        </div>
        <div class="span4">
          {% include front_video.html %}
        </div>
      </div> -->
