---
layout: default
permalink: /roster.html
title_prepend: Team Roster
description: Twenty FLL Teams Competing in the Seacoast FLL Qualifier
---
      <div class="row">
        <div class="span12">
          <h2>Roster of FLL Teams</h2>
          <p><a href="http://www.baesystemsfirst.org/">BAE Systems</a>, <a href="http://www.unh.edu/mechanical-engineering/">UNH Department of Mechanical Engineering</a>, and <a href="http://team3499.org/">FIRST Robotics Team 3499 Rivers Edge Robotics</a> are pleased to welcome the following FIRST LEGO League teams to the {{ site.date | date: "%Y" }} Seacoast FLL Qualifying Tournament!</p>
        </div>
      </div>
      <div class="row">
        <div class="span8 offset2">
          <table class="table">
            <thead>
              <tr>
                <th>Team Number</th>
                <th>Team Name</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              {% for team in site.teams %}
              <tr>
                <td>{{ team.number }}</td>
                <td>{% if team.website %}<a href="{{ team.website }}">{{ team.name }}</a>{% else %}{{ team.name }}{% endif %}</td>
                <td>{{ team.location }}</td>
              <tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!--<div class="row">
        <div class="span12">
          <h2>Roster of JFLL Teams</h2>
          <p>We are also pleased to welcome the following Junior FIRST LEGO League teams to the {{ site.date | date: "%Y" }} Seacoast FLL Qualifying Tournament!</p>
        </div>
      </div>
      <div class="row">
        <div class="span8 offset2">
          <table class="table">
            <thead>
              <tr>
                <th>Team Number</th>
                <th>Team Name</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&mdash;</td>
                <td>Dover Housing Auth</td>
                <td>Dover, NH</td>
              </tr>
              <tr>
                <td>&mdash;</td>
                <td>Manchester (Sheue Chen)</td>
                <td>Manchester, NH</td>
              </tr>
              <tr>
                <td>&mdash;</td>
                <td>Lego Genius's (Sibona)</td>
                <td>Manchester, NH</td>
              </tr>
              <tr>
                <td>&mdash;</td>
                <td>New Durham Library 1</td>
                <td>New Durham, NH</td>
              </tr>
              <tr>
                <td>&mdash;</td>
                <td>New Durham Library 2</td>
                <td>New Durham, NH</td>
              </tr>
              <tr>
                <td>417</td>
                <td>Laser Cyborg Knights</td>
                <td>&mdash;</td>
              </tr>
              <tr>
                <td>1596</td>
                <td>LegoStrikers</td>
                <td>&mdash;</td>
              </tr>
              <tr>
                <td>1257</td>
                <td>Nottingham - Dumas</td>
                <td>Nottingham, NH</td>
              </tr>
              <tr>
                <td>1974</td>
                <td>Nottingham - Marcotte</td>
                <td>Nottingham, NH</td>
              </tr>
              <tr>
                <td>1975</td>
                <td>Nottingham - Martin</td>
                <td>Nottingham, NH</td>
              </tr>
              <tr>
                <td>1976</td>
                <td>Nottingham - Forte</td>
                <td>Nottingham, NH</td>
              </tr>
              <tr>
                <td>1977</td>
                <td>Nottingham - Ferland</td>
                <td>Nottingham, NH</td>
              </tr>
              <tr>
                <td>1978</td>
                <td>Nottingham - Scholtz</td>
                <td>Nottingham, NH</td>
              </tr>
              <tr>
                <td>&mdash;</td>
                <td>Nottingham</td>
                <td>Nottingham, NH</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>-->
      <div class="row">
        <div class="span12">
          <p><strong>Have a website for your FLL <!--or JFLL -->Team?</strong> If you would like your team website linked in the above list, please email <a href="mailto:webmaster@seacoastfll.org?Subject=Link Team Website">webmaster@seacoastfll.org</a> with your team name, team number, and website URL.  Corrections are also welcome!</p>
        </div>
      </div>

