<h2>Getting There</h2>
<p>All tournament functions take place at the <a href="http://unhmub.com/">Memorial Union Building (MUB)</a> located near downtown Durham on the beautiful campus of the <a href="">University of New Hampshire</a>.</p>
<div class="">
  <address style="margin-left: 1em"><strong>Memorial Union Building (MUB)</strong><br>
  <a href="https://maps.google.com/maps?q=83+Main+Street,+Durham,+NH&hl=en&ll=43.134564,-70.930052&spn=0.04303,0.069609&sll=43.137633,-70.933485&sspn=0.043028,0.069609&oq=83+Main+Street,+Du&t=m&hnear=83+Main+St,+Durham,+Strafford,+New+Hampshire+03824&z=14">83 Main Street<br>Durham, NH 03824</a></address>
</div>
<h2>Local Attractions</h2>
<p>Need some good coffee?  The local businesses of downtown Durham are only a short walk away.</p>
<p><a class="btn" href="/travel.html">View details &raquo;</a></p>
