<h2>Welcome Teams</h2>
<p>We are pleased to welcome a roster of {{ site.teams | size }} FLL teams to the {{ site.date | date: "%Y" }} Seacoast FLL Qualifying Tournament!</p>
<p>On {{ site.date | date: "%A, %B %-d" }}, {{ site.teams | size }} <a href="http://www.firstlegoleague.org">FIRST LEGO League</a> teams comprised of over 100 students, team mentors, and countless volunteers will gather at the Memorial Union Building on the beautiful campus of the University of New Hampshire for the {{ site.date | date: "%Y" }} Seacoast FLL Qualifying Tournament.</p>
<!-- <p>Running in parallel to the FLL events, we have over a dozen JFLL teams competing this year!</p>
<p><a class="btn" href="/roster.html">View Roster &raquo;</a></p> -->
