<h2>FLL Schedule</h2>
<table class="table table-condensed">
  <tbody>
    <tr><td>8:00 AM</td><td>Registration and Pits Open</td></tr>
    <!--<tr><td>8:15 AM</td><td>Coaches Meeting</td></tr>-->
    <tr><td>8:30 AM</td><td>Opening Ceremony</td></tr>
    <tr><td>9:00 AM</td><td>Matches and Judging</td></tr>
    <tr><td>11:30 AM</td><td>Lunch</td></tr>
    <tr><td>12:15 PM</td><td>Matches and Judging</td></tr>
    <tr><td>1:40 PM</td><td>Finals</td></tr>
    <tr><td>2:30 PM</td><td>Closing Ceremony</td></tr>
  </tbody>
</table>
