<h2>Event Video</h2>
<p>The FLL tournament table action is projected on the big screen in the UNH Granite State Room.  For family and friends who couldn't make it to the event, we are streaming that video feed live on the Internet.</p>
<p>Starting at 12:30pm on Saturday, you can watch on the <a href="http://ustream.tv/channel/seacoast-fll">Seacoast FLL UStream channel</a> or <a href="/broadcast.html">here on our website</a>.</p>
<p><a class="btn" href="/broadcast.html">Watch Now &raquo;</a></p>
<!--<p><strong>[UPDATE]</strong> The live stream is not available this year.  We're having technical difficulties with the university network and UStream.</p>-->
