<h2>Welcome Teams</h2>
<p>On {{ site.date | date: "%A, %B %-d" }}, <a href="http://www.firstlegoleague.org">FIRST LEGO League</a> teams comprised of over 100 students, team mentors, and countless volunteers will gather at the Memorial Union Building on the beautiful campus of the University of New Hampshire for the {{ site.date | date: "%Y" }} UNH Qualifying Tournament.</p>
<h2>Schedule</h2>
<table class="table table-condensed">
  <tbody>
    {% for event in site.fll_schedule %}
    <tr><td>{{ event.time }}</td><td>{{ event.description }}</td><tr>
    {% endfor %}
  </tbody>
</table>
