      <div class="hero-unit">
        <h1>Seacoast FLL Qualifying Tournament</h1>
        <p>{{ site.date | date: "%B %-d, %Y" }}<br>
          University of New Hampshire</p>
        <div class="sponsor-block">
          <ul class="unstyled">
            <li><a href="http://www.baesystemsfirst.org/"><img src="/img/baesystems.png" width="200" height="31"></a></li>
            <li><a href="http://www.unh.edu/mechanical-engineering/"><img src="/img/unh2.png" width="200" height="40"></a></li>
            <li><a href="http://team3499.org/"><img src="/img/team3499.png" width="100" height="100"></a></li>
          </ul>
        </div>
      </div>
