<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title_prepend %}{{ page.title_prepend }} &mdash; {% endif %}{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ page.author }}">
{% include css.html %}
{% include ico.html %}
  </head>
  <body>
{% include navbar.html %}
    <div class="container">
{% include hero.html %}
{{ content }}
{% include footer.html %}
    </div> <!-- /container -->
{% include js.html %}
  </body>
</html>
